<p>
Physical Stats follow this format:<br />
Starport Size Atmosphere Hydro Population Government Law - Tech
</p>
<p>
<strong>Trade Codes:</strong><br />
Ag Agricultural        In Industrial<br />
As Asteroid            Lo Low Population<br />
Ba Barren              Lt Low Technology<br />
De Desert              Na Non-Agricultural<br />
Fl Fluid Oceans        |NI Non-Industrial<br />
Ga Garden              Po Poor<br />
Hi High Population     Ri Rich<br />
Ht High Technology     Wa Water World<br />
IC Ice-Capped          Va Vacuum<br />
</p>
<p>
  <strong>Bases:</strong> (N)aval – (S)cout – (R)esearch – (T)AS – (C)onsulate – (P)irate
</p>
<table class="table table-bordered table-condensed table-striped table-hover">
  <tr class="table-header">
    <th>Planet Name</th>
    <th>Hex</th>
    <th>Stats</th>
    <th>Base Code(s)</th>
    <th>Trade Codes</th>
  </tr>
  <% @subsector.planets.each do |planet| %>
    <tr>
      <td>
        <%= link_to planet.name, planet_path(planet) %>
      </td>
      <td>
        <%= planet.hex %>
      </td>
      <td>
        <%= planet.physical_stats %>
      </td>
      <td>
        <%= planet.base_code %>
      </td>
      <td>
        <%= planet.trade_codes %>
      </td>
    </tr>
  <% end %>
</table>
