<div class="row">
  <div class="col-sm-12">
    <p>
      Physical Stats follow this format:<br />
      Starport Size Atmosphere Hydro Population Government Law - Tech
    </p>
    <strong>Trade Codes:</strong><br />
    <div class="col-sm-4">
      <p>
        Ag Agricultural<br />
        As Asteroid<br />
        Ba Barren<br />
        De Desert<br />
        Fl Fluid Oceans<br />
        Ga Garden
      </p>
    </div>
    <div class="col-sm-4">
      <p>
        Hi High Population<br />
        Ht High Technology<br />
        IC Ice-Capped<br />
        In Industrial<br />
        Lo Low Population<br />
        Lt Low Technology
      </p>
    </div>
    <div class="col-sm-4">
      <p>
        Na Non-Agricultural<br />
        NI Non-Industrial<br />
        Po Poor<br />
        Ri Rich<br />
        Wa Water World<br />
        Va Vacuum
      </p>
    </div>
    <p>
      <strong>Bases:</strong> (N)aval – (S)cout – (R)esearch – (T)AS – (C)onsulate – (P)irate
    </p>
    <p>
      Row <strong>color</strong> is determined by the travel code. Light yellow for Amber,
      and light red for Red travel zones.
    </p>
    <p>
      <strong>Stats:</strong> starport size atmosphere hydro population government law - Tech
    </p>

    <p>
      <%= "<strong>Description:</strong>".html_safe + " #{@subsector.description}" unless @subsector.description.blank? -%>
    </p>
  </div>
</div>
<table class="table table-bordered table-condensed table-striped table-hover">
  <tr class="table-header">
    <th><%= sortable "name" %></th>
    <th><%= sortable "hex" %></th>
    <th>Stats</th>
    <th>Base Code(s)</th>
    <th>Trade Codes</th>
  </tr>
  <% @planets.each do |planet| %>
    <tr class="<%= travel_code_class(planet) -%>">
      <td>
        <%= link_to planet.name, planet_path(planet) %>
      </td>
      <td>
        <%= planet.hex %>
      </td>
      <td>
        <%= planet.physical_stats %>
      </td>
      <td>
        <%= planet.base_code %>
      </td>
      <td>
        <%= planet.trade_codes %>
      </td>
    </tr>
  <% end %>
</table>
