<h1><%= @planet.name -%></h1>
<div class="row">
  <div class="col-sm-12">
    <p>
      Here you can generate the Trade Goods available today at a given supplier.
      Select their morality and click generate.
      <%= form_tag trades_path, method: :post, class: "navbar-form navbar-left search-form" do %>
        <%= check_box_tag "morally_ambiguous", true, false, :name => "morally_ambiguous" -%>
        Morally Ambiguous
        <%= hidden_field_tag "trade_codes[]", @planet.trade_codes  %>
        <%= hidden_field_tag "planet_id", @planet.id  %>
        </ul>
        <%= submit_tag("What's for sale today?", class: 'btn btn-primary') %>
      <% end %>
    </p>
    <p>
      <%= @planet.description %>
    </p>
    <table class="table table-bordered table-condensed table-striped table-hover">
      <tr class="table-header">
        <th>Hex</th>
        <th>Starport</th>
        <th>Size</th>
        <th>Atmosphere</th>
        <th>Hydro</th>
        <th>Population</th>
        <th>Government</th>
        <th>Law</th>
        <th>Tech</th>
        <th>Base(s)</th>
        <th>Trade</th>
      </tr>
      <tr class="<%= travel_code_class(@planet) -%>">
        <td>
          <%= @planet.hex %>
        </td>
        <td>
          <%= @planet.star_port %>
        </td>
        <td>
          <%= @planet.size %>
        </td>
        <td>
          <%= @planet.atmosphere %>
        </td>
        <td>
          <%= @planet.hydro %>
        </td>
        <td>
          <%= @planet.population %>
        </td>
        <td>
          <%= @planet.government %>
        </td>
        <td>
          <%= @planet.law %>
        </td>
        <td>
          <%= @planet.tech %>
        </td>
        <td>
          <%= @planet.base_code %>
        </td>
        <td>
          <%= @planet.trade_codes %>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <p class="text-justify">
      <strong>Technology:</strong>
      <%= technology_description(@planet.tech) -%>
    </p>
  </div>
  <div class="col-sm-4">
    <p class="text-justify">
      <strong>Star Port:</strong>
      <%= starport_description(@planet.star_port) -%>
    </p>
  </div>
  <div class="col-sm-4">
    <p class="text-justify">
      <strong>Government:</strong>
      <%= government_description(@planet.government) -%>
    </p>
  </div>
  <div class="col-sm-4">
    <p class="text-justify">
      <strong>Hydro:</strong>
      <%= hydro_description(@planet.hydro) -%>
    </p>
  </div>
  <div class="col-sm-4">
    <p class="text-justify">
      <strong>Population:</strong>
      <%= population_description(@planet.population) -%>
    </p>
  </div>
  <div class="col-sm-4">
    <p class="text-justify">
      <strong>Law:</strong>
      <%= law_description(@planet.law) -%>
    </p>
  </div>
  <div class="col-sm-4">
    <p class="text-justify">
      <strong>Bases:</strong>
      <%= bases_description(@planet.base_code) -%>
    </p>
  </div>
  <div class="col-sm-4">
    <p class="text-justify">
      <strong>Travel Code:</strong>
      <%= travel_code_description(@planet.travel_code) -%>
    </p>
  </div>
  <div class="col-sm-4">
    <p class="text-justify">
      <strong>Size:</strong>
      <%= size_description(@planet.size) -%>
    </p>
  </div>
  <div class="col-sm-4">
    <p class="text-justify">
      <strong>Atmosphere:</strong>
      <%= atmosphere_description(@planet.atmosphere) -%>
    </p>
  </div>
</div>
