<%= form_tag trades_path, method: :post, class: "navbar-form navbar-left search-form" do %>
  <ul>
    <li>
      <%= check_box_tag "morally_ambiguous", true, false, :name => "morally_ambiguous" -%>
      Morally Ambiguous
    </li>
  <% @trade_codes.each do |trade_code, text| %>
      <li>
        <%= check_box_tag "trade_codes[#{trade_code}]", trade_code, false, :name => "trade_codes[]" -%>
        <%= h text -%>
      </li>
  <% end %>
  </ul>
  <%= submit_tag('What is available today?') %>
<% end %>
