<!DOCTYPE html>
<html>
  <head>
    <title>Traveller Spec Trader</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>

  <body>
    <nav class="navbar navbar-dark bg-inverse">
      <ul class="nav navbar-nav">
        <li class="nav-item<%=" active" if request.path == '/'%>">
          <a class="nav-link" href="/">Traveller Spec Trader</a>
        </li>
        <li class="nav-item<%=" active" if request.path == '/subsectors'%>">
          <a class="nav-link" href="/subsectors">Subsectors</a>
        </li>
        <li class="nav-item<%=" active" if request.path == '/subsector/new'%>">
          <a class="nav-link" href="/subsectors/new">New Subsector</a>
        </li>
        <li class="nav-item<%=" active" if request.path == '/about'%>">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
